# Virtual Environment
.venv
.venv/
project1/.venv
venv/

# Python cache
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.sqlite3
*.sqlite3-journal
*.log

# Environment variables
.env
.env.*
.envrc

# Local-only settings
local_settings.py

# Static/media generated
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/

# Migrations cache
*.mo
*.pot
